.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.buttons {
  background-color: whitesmoke;
  width: 250px;
  height: 70px;
  padding: 10px;
  margin: 20px;
}

.pop {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup {
  margin: 10px;
  width: 200px;
  height: 100px;
}